footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #0c344e;
    border-top: 4px solid #bfc8ea;
  }
  #foot {
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  #fot {
    margin-left: -0.1rem;
    color: #ff9f5c;
    font-family: "Poppins", sans-serif;
  }
  #fot:hover {
    color: #f31702;
  }